
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SECOPS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/images/favicon.png" type="image/png" sizes="16x16">
  <link href='/static/external/css.css' rel='stylesheet' type='text/css'> 
  <link rel="stylesheet" href="/static/external/bootstrap.min.css">
  <script src="/static/external/jquery-1.12.4.js"></script>
  <script src="/static/external/bootstrap.min.js"></script>
  <script src="/static/external/index.js"></script>
  <link rel="stylesheet" href="/static/css/close_style.css">

<script>
  


</script>
</head>
<body>
<!-- navbar -->
    {% include "nav.html" %}
<!-- navbar -->
<div style='padding-top: 70px'></div>
  <div align="center">
        <span class="label label-success"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;In Progress</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="label label-warning"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Waiting for Developers</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="label label-info"><span class="glyphicon glyphicon-hourglass"></span>&nbsp;&nbsp;Open</span>&nbsp;&nbsp;&nbsp;
        <span class="label label-danger"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;Under Review</span>&nbsp;&nbsp;&nbsp;
  </div><br/>
<div>
<div class="container-fluid">
 <style>
  body {  
    /*background: url("back1.jpg") no-repeat center center fixed; */
    background-size: cover;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

</style>  
<div align="center">
  <div style="width: 100%; max-width: 1024px" align="left">
  <div class="container" align="center">
    {% if message %}
        <div class="alert alert-{{ category }}" role="alert" style="width: 50%">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      {{ message | safe }}
      </div>
    {% endif %}
  </div>

<H3>Welcome {{session.email}}</H3>
<script>$('.icon_info').tooltip();</script>
<style>.container { width: 100%; } .red { color: red; } .blue { color: blue;} .green { color: green; } .orange { color: orange; } </style>

<div id="ticket_details" class="shown">
{% if secreview_string != "" %}
  <br/><H4>Open Security Reviews : {{ secreview_count }}</H4>
  <table>
    {{secreview_string|safe}}
  </table>

{% endif %}

{% if secbugs_string != "" %}
  <br/><H4>Open Security Bugs : {{ secbugs_count }}</H4>
  <table>
    {{secbugs_string|safe}}
  </table>

{% endif %}
  </div>
<script>
  issue_status = "";
  issue_key = "";
</script>
  <div class="hidden" id="description">
    <form action="/close_tickets" onSubmit="return check_status()" method="POST" enctype="multipart/form-data"><br />
    <div id="ticket_meta">
      <div class="pull-right">
        <button class="btn btn-warning btn-md float-right" onclick="return go_back()">back</button>
      </div>
      <label>Ticket No</label> &nbsp;&nbsp;#&nbsp;&nbsp;<span id="key" class="label label-info"></span><br />
      <label>Title</label>&nbsp;&nbsp;#&nbsp;&nbsp;<span id="summary" class="label label-default">summary</span></br>
      <label>Status</label>&nbsp;&nbsp;#&nbsp;&nbsp;<span id="status" class="label label-warning"></span></br></br>
      <!-- <div class="pull-right">
        <button class="btn btn-primary btn-md float-right" onclick="return followup()">Follow up</button>
      </div> -->
      <label>Due Since</label>&nbsp;&nbsp;#&nbsp;&nbsp;<span id="due_days" class="label label-danger"></span></br></br>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><span class="label label-success">Test Cases Covered</span></div>
  
      <!-- List group -->
      <ul class="list-group" name="test_cases" id="ticket_options" >
      </ul>
      <input type="hidden" name="ticket_id" id="ticket_id" value="">
      <input type="hidden" name="status" id="ticket_status" value="">
      <input type="hidden" name="requestingfor" id="requestingfor" value="">
    </div> 
    <label>Select Approver # </label>
      <select id="REVIEW_APPROVERS" name="approver"></select>
      <script>
        var REVIEW_APPROVERS = {{REVIEW_APPROVERS|safe}};
        var input_select = document.getElementById('REVIEW_APPROVERS');
        $.each(REVIEW_APPROVERS, function(key,value){
          if(value != "{{session.email}}")
          {
            var op = document.createElement("option");
            op.value = value;
            op.text = value;
            input_select.appendChild(op);
          }
        });
      </script>
    <H4><span class=" label label-info">Any Additional Comments? (Mandatory for Reject)</span></H4>
    <textarea class="form-control" rows=3 class="form-control" type="text" id="comments" name="comments"></textarea><br/>
    <script>

      function check_status(){
        var ticket_status = $('#ticket_status').val();
        var not_allowed = ["Backlog","To Do", "ToStart", "Open"];
        if(not_allowed.includes(ticket_status))
          alert("Issue is not in In-Progress state; Only Reject action is allowed.");

        return !not_allowed.includes(ticket_status);
      }

      var peer_review_enabled = {{peer_review_enabled|safe}};
      PEER_REVIEW_REQUIRED_FOR = [];

      if(peer_review_enabled)
        PEER_REVIEW_REQUIRED_FOR = {{PEER_REVIEW_REQUIRED_FOR|safe}};

      window.follow_message = "";
      window.ticket_id = "";
      console.log('text');
      window.assignee = "{{config.DEFAULT_USER|e}}";

      function followup(key, status, summary, requestingfor, due_days, follow_class,assigned){
        if(assigned == "None")
          assigned = window.assignee;
        else
          window.assignee = assigned;

        document.getElementById('follow_key').innerHTML = key;
        document.getElementById('follow_summary').innerHTML = summary;
        document.getElementById('follow_status').innerHTML = status;
        document.getElementById('follow_requestingfor').innerHTML = requestingfor;
        document.getElementById('follow_due_days').innerHTML = due_days+" days";
        $('#follow_due_days').addClass('label-'+follow_class);
        document.getElementById('follow_assignee').value = assigned;


        window.ticket_id = key;

        window.follow_message = "Hey, \n\nThis issue is pending from "+due_days+" days. Request you to provide an update as soon as possible.\n\n ";

        console.log(window.follow_message);

        $('#follow_comment').html(window.follow_message);
      }

      function doFollowup(){
        const form = document.getElementById('followup_form');
        var form_data = new FormData(form);
        form_data.append('ticket_id',window.ticket_id);
        form_data.append('comment',$('#follow_comment').val());
        form_data.append('assigned',$('#follow_assignee').val());

        window.assignee = "{{config.DEFAULT_USER|e}}";

        fetch(form.action, {
          method: form.method,
          body: form_data,
        }).then(response => {
          return response.json();
        }).then(data => {
          alert(data.message);
          $('#form_close').click();
        }).catch(err => {
          console.log(err);
          console.log("Error Occured while fething api : "+form.action);
        });
      }

    </script>
    <div id="Action" style="width: 200px">

    </div><br /><br />
    </form>
  </div>

  <div class="modal fade" id="followModal" tabindex="-1" role="dialog" aria-labelledby="followModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="padding: 10px">
      <div class="modal-content">
        <div class="modal-header" style="padding: 20px">
          <h5 class="modal-title" id="exampleModalLabel">Followup Issue</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/doFollowup" method="POST" id="followup_form">
          <div class="modal-body" style="padding: 20px">
            <label>Ticket No</label> &nbsp;&nbsp;#&nbsp;&nbsp;<span id="follow_key" class="label label-info"></span><br />
            <label>Title</label>&nbsp;&nbsp;#&nbsp;&nbsp;<span id="follow_summary" class="label label-default">summary</span></br>
            <label>Status</label>&nbsp;&nbsp;#&nbsp;&nbsp;<span id="follow_status" class="label label-warning"></span></br>
            <label>Requesting For</label>&nbsp;&nbsp;#&nbsp;&nbsp;<span id="follow_requestingfor" class="label label-default"></span></br>
            <label>Due Since</label>&nbsp;&nbsp;#&nbsp;&nbsp;<span id="follow_due_days" class="label"></span></br></br>

            <label>Assignee</label>&nbsp;&nbsp;#&nbsp;&nbsp;<input type="text" id="follow_assignee" class="input" placeholder="assignee name or email"></input></br></br>

            <label>Followup Comment: </label></br>
            <textarea class="form-control" id="follow_comment" rows="7" cols="50" placeholder="..."></textarea>
          
          </div>
          <div class="modal-footer" style="padding: 20px">
            <button type="button" id="form_close" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="button" onClick="doFollowup()" class="btn btn-primary" value="Follow Up">
          </div>
        </form>
      </div>
    </div>
  </div>


  <br /><br /><br /><br />
  </div>

    <!-- Footer -->
    {% extends "footer.html" %}
    <!-- Footer -->
</body>
</html>
