
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SECOPS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/images/favicon.png" type="image/png" sizes="16x16">
  <link href='/static/external/css.css' rel='stylesheet' type='text/css'> 
  <link rel="stylesheet" href="/static/external/bootstrap.min.css">
  <script src="/static/external/jquery-1.12.4.js"></script>
  <script src="/static/external/bootstrap.min.js"></script>
  <link href='/static/css/style.css' rel='stylesheet' type='text/css'> 
  <script src='/static/external/index.js'></script>



</head>
<body>
<!-- navbar -->
    {% include "nav.html" %}
<!-- navbar -->
<br /><br />
<div>
<div class="container-fluid">
 <style>
  body {  
    /*background: url("back1.jpg") no-repeat center center fixed; */
    background-size: cover;
}
.modal-header, h4, .close {
      background-color: #182530;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.modal-content{
  background-color: #e6e6e6;
}
  .modal-footer {
      background-color: #182530;
  }

</style>  
<center>
<div><br /><br /><br />
  <div class="container" align="center">
    {% if message %}
        <div class="alert alert-{{ category }}" role="alert" style="width: 50%">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      {{ message | safe }}
      </div>
    {% endif %}
  </div>

<h2><br />
  {% if session.access_token %}
  <a href="/new_secreview"><button type="button" class="btn btn-grey btn-md" style="width:300px" data-toggle="modal" data-target="#myModal" id="new-scan" >
    <strong>New security Review</strong>
  </button></a>
  {% endif %}
    <button type="button" class="btn btn-grey btn-md dropdown dropdown-toggle line-spacing" style="width:300px" id="new-scan">
      <a class="dropdown-toggle" type="button" data-toggle="dropdown" style="color:white" >
      <span class="glyphicon glyphicon-th"></span>
        Knowledge Base
      <span class="caret"></span></a>
      <ul class="dropdown-menu" style="width:300px">
        <li><a href="/security_base"><span class="glyphicon glyphicon-log-out"></span> Security Knowledge Base</a></li>
        <li><a href="/rfp_base"><span class="glyphicon glyphicon-log-out"></span> RFP Knowledge Base</a></li>
      </ul>
    </button>
  {% if session.appsec_user %}
  <a href="/close_tickets"><button type="button" class="btn btn-grey btn-md" style="width:300px" id="new-scan" >
    <strong>Close Tickets</strong>
  </button></a>
  {% endif %}
</h2>

    <!-- Footer -->
    {% extends "footer.html" %}
    <!-- Footer -->
</body>
</html>
