<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <img src="/static/images/logo.png" alt="" width="200px" height="80px" />
    </ul><br />
    <ul class="nav navbar-nav navbar-right">
       <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      {% if session.access_token %}
        <li><a href="/new_secreview"><span class="glyphicon glyphicon-fire"></span> New security Review</a></li>
      {% endif %}
      <li class="dropdown line-spacing">
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-th"></span> Confluence Links
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{config.APPSEC_TEAM_LINK|e}}" target="_blank"><span class="glyphicon glyphicon-home"></span> Security Assurance Home</a></li>
          <li><a href="{{config.SEC_KB_LINK|e}}" target="_blank"><span class="glyphicon glyphicon-book"></span> Security Knowledge Base</a></li>
        </ul>
      </li>
      <li class="dropdown line-spacing">
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-th"></span> Security Policies
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{config.INFOSEC_POLICY_LINK|e}}" target="_blank"><span class="glyphicon glyphicon-book"></span> Infosec Policy</a></li>
          <li><a href="{{config.SEC_AWARENESS_LINK|e}}" target="_blank"><span class="glyphicon glyphicon-book"></span> Security Awareness Guidelines</a></li>
          <li><a href="{{config.VRM_POLICY_LINK|e}}" target="_blank"><span class="glyphicon glyphicon-book"></span> VRM Policy</a></li>
        </ul>
      </li>
      {% if session.appsec_user %}
       <!-- <li><a href="/close_tickets"><span class="glyphicon glyphicon-off"></span> Close Tickets</a></li> -->
       <li>
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="glyphicon glyphicon-off"></span> Close Tickets
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/search_tickets"><span class="glyphicon glyphicon-search"></span> Close A Ticket</a></li>
            <li><a href="/close_tickets"><span class="glyphicon glyphicon-book"></span> Get All Tickets</a></li>
          </ul>
       </li>
      {% endif %}
      <li class="dropdown line-spacing">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="glyphicon glyphicon-user"></span> {% if session.get('email') %}
            {{ session.get('email').title() | e }}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
          {% else %}
            Guest 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
          </ul>

          {% endif %}
        </li>
    </ul>
  </div>
</nav>
<br /><br />