.secreview{
  text-decoration: none;
}

table {
  width: 100%;
  table-layout: fixed;
  white-space: normal!important;
}

td {
  word-wrap: break-word;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(odd){background-color: #f2f2f2}

label {
  font-size: 14px;
}
.label-default {
  font-size: 14px;
  line-height: 25px;
}
.summary {
  width: 60%;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

h2 {
color: white;
}
body {
/*font-family: 'Ubuntu', sans-serif;*/
font-family: 'Ubuntu', sans-serif;
}

.navbar-brand
{  
position: absolute;
width: 100%;
left: 0;
text-align: center;
margin:0 auto;
}
.navbar-inverse{
background: #182530;
}

.btn-grey{
background-color: black ;
color:white;
}

#scan-now{
background-color: #182530;
color:white;
}
#new-scan{
background-color: #182530;
color:white;
}
#history h2{
color:black;  
}
@font-face {
font-family: 'hacked';
src: url("{{ url_for('static', filename = 'hacked.woff') }}") format('woff'),
url("{{ url_for('static', filename = 'hacked.woff') }}") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
